<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Endpoint" value="https://api.sandbox.ebay.com/wsapi"/>
    <add key="AppID" value=""/>
    <add key="DevID" value=""/>
    <add key="CertID" value=""/>
    <add key="Token" value=""/>
  </appSettings>
</configuration>
